<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap"
    rel="stylesheet"
  />
</head>

<!-- Header -->
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
      >
        <span class="d-none d-lg-block">Kazoot!</span>
      </a>
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a href="/" class="nav-link px-2 link-dark">Public Quiz</a>
        </li>
        <li>
          <a href="/createquiz" class="nav-link px-2 link-dark">Create</a>
        </li>
      </ul>
      <% if(!Object.keys(user).length){ %>
      <div class="text-end">
        <a href="/login/1" class="btn btn-outline-primary me-2">Login</a>
        <a href="/login/1" class="btn btn-primary">Sign-up</a>
      </div>
      <% } else { %>
      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="/img/profile-img.jpg"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle"
          />
          <%= user[0].name %>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="/createquiz">Create Quiz</a></li>
          <li><a class="dropdown-item" href="/user">Profile</a></li>
          <li><a class="dropdown-item" href="/user">Quiz List</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <form method="POST" action="/logout">
              <button class="dropdown-item" type="submit">Logout</button>
            </form>
          </li>
        </ul>
      </div>
      <% } %>
    </div>
  </div>
</header>
